<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<center>
	<div>
		<br>
		<h2>FOR MANS</h2>	<br>	
	</div>

	<a href="/home/product">OUR ALL PRODUCT</a> |
	<a href="/logout">LOGOUT</a><br><br><br>


	<center>
</body>
</html>