<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<center>
	<div>
		<br>
		<h2>Welcom To Our Shop Customer Home Page</h2>	<br>	
	</div>

	<a href="/home/product">OUR ALL PRODUCT</a> |
	<a href="/logout">LOGOUT</a><br><br><br>

	<div>
		<br>
		<h2>YOUR PROFILE INFO</h2> 	<br>	
	</div>
	
	Username:  <%= user.username %> <br>
	Id: <%= user.id %> <br>
	Password: <%= user.password %> <br>
	Type: <%= user.type %>
	
	<center>
</body>
</html>