<!DOCTYPE html>
<html>
<head>
	
	<title>Login</title>

</head>
<body>
	<center>
	<h2>Login</h2>

	<form method="post">
		Username: <input type="text" name="uname"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" name="" value="Submit">
    </form>
    <a href="/login/account">Create Accout Here>></a>
    </center>
</body>
</html>