<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>
	<center>
		<h2></h2> <br>
		<h2>Welcome To Hasib Online Shop</h2>
	<h2>LOGIN</h2>

	<form method="post">
		Username: <input type="text" name="uname"><br><br>
		Password: <input type="password" name="password"><br><br>
		
		<input type="submit" name="" value="Submit">
		 <a href="/login/registration">Registration>></a>
	</form>
</center>
</body>
</html>