<!DOCTYPE html>
<html>
<head>
	<title>Product</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<center>
	<div>
		<br>
		<h2>PURPOSE KIDS-SHIRT</h2><br>
		<h2>Quality 100% cotton and so soft you could sleep in it (but we don't recommend it).</h2> <br>
		<h2>Price - 604</h2><br>
		<h2>Size - s</h2><br>
		 <input type="submit" value="BUY" name="">
		
	</div>

	

	<center>
</body>
</html>